/* tag */
iframe {
    border: none;
    font-family: Helvetica;
}
section {
    overflow: auto;
}
table {
    width: 100%;
}
td {
    width: 50%;
    padding: 0.3em;
}
/* id */
#details {
    height: 60%;
    padding: 10px 10px 10px 10px;
}
#help {
    height: 40%;
    border-bottom: medium solid #ccc;
    padding: 10px 10px 10px 10px;
}
#sidebar {
     float: right;
     width: 35%;
     border: medium solid #ccc;
     border-radius: 5px;
 }
#title {
    text-align: center;
}
#wizard {
    float: left;
    width: 65% !important;
    padding-top: 10px;
    border-left: medium solid #ccc;
    border-top: medium solid #ccc;
    border-bottom: medium solid #ccc;
    border-radius: 5px;
}
/* class */
.active {
    background-color: #72C342 !important;
    border-color: #72C342 !important;
    color: white;
}
.question {
    font-weight: bold;
    font-size: large;
}