/**
 * @file Contains the CSS rules for elements throughout the LDT wizard.
 *
 * @author Michael Kim
 * @author Trevor Morse
 */
/* tag */
iframe {
    border: none;
    font-family: Helvetica;
}
table {
    width: 100%;
}
td {
    width: 50%;
    padding: 0.3em;
}
/* id */
#details {
    height: 50%;
    padding: 1rem;
}
#exportButton {
    background-color: #72C342;
    color: white;
    display: inline;
    font-size: 0.8rem;
}
#exportInput {
    display: inline;
    font-size: 0.8rem;
}
#finalPreview {
    height: 98%;
}
#help {
    margin-bottom: 0.8rem;
    text-align: center;
    padding-top: 0.5rem;
}
#sidebar {
    height: auto;
    float: right;
    width: 25%;
    padding: 1rem 1rem 0rem 0.4rem;
}
#sidebarIcon {
    font-size: 290%;
    text-align: center;
    text-shadow: 1.2px 1.2px 1.2px #ccc;
}
#sidebarLine {
    color: #aaaaaa;
    width: 65%;
    margin-bottom: 0.5rem;
}
#wizard {
    height: inherit;
    min-height: 40rem;
    float: left;
    width: 75% !important;
    padding-top: 1rem;
    border-radius: 0.3rem;
}
#wizard .actions {
    width: 65%;
    padding-right: 0.5rem;
    background: #eeeeee;
    height: 4rem;
}
#wizard .content {
    border-radius: 0rem;
    margin-bottom: 0rem;
}
#wizard > .actions > ul {
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}
#wrapper {
    height: 90vh;
}
#wrapper #wizard .content.clearfix {
    height: 90%;
    min-height: 35rem;
}
#wrapper #wizard .steps.clearfix {
    min-height: 40rem;
}
/* class */
.active {
    background-color: #2184be !important;
    color: white;
}
.btn:disabled {
    opacity: 0.3;
}
.btn-group {
    padding: 0.3rem;
}
.btn-secondary {
    padding: 0.73rem 1.25rem;
}
.card {
    margin-bottom: inherit;
}
.checkbox-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
}
.choice-field {
    border: solid thin gainsboro;
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin: 0.3rem;
}
.choice-prompt {
    font-size: small;
    opacity: 0.7;
}
.data-section {
    height: inherit;
    overflow: auto;
}
.element-bar {
    padding: 0.3rem;
    width: 100%;
}
.element-bar .element-bar-button {
    width: 10%;
}
.element-bar .element-bar-counter {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 0.719rem 0rem;
    border-left: 0 !important;
    text-align: center;
}
.element-bar .element-bar-input {
    padding: 0.719rem 0rem 0.719rem 1.25rem;
}
.element-bar .element-bar-label {
    width: 70%;
    padding: 0.719rem 0rem 0.719rem 1.25rem;
    background-color: #ffffff;
    text-align: left;
}
.element-bar .element-bar-label.hasInput {
    width: 40%;
}
.element-bar .element-bar-minus {
    padding: 0.719rem 0rem;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    border-radius: 0rem;
    width: 100%;
}
.element-bar .element-bar-plus {
    padding: 0.719rem 0rem;
    width: 100%;
}
.element-bar.valueElementBar .element-bar-counter {
    max-width: 20px;
    min-width: 20px;
}
.element-bar.valueElementBar .element-bar-counter:disabled {
    background-color: #f3f3f3;
    opacity: 1;
    color: #b7b8b9;
    border-color: #e4e4e4 !important;
}
.element-bar.valueElementBar .element-bar-plus {
    margin-left: -17%;
    z-index: 0;
}
.element-bar.valueElementBar .element-bar-plus:hover {
    z-index: 0;
}
.finalPreview.card,
.finalPreview.previewContainer{
    height: 100% !important;
}
.finalPreview.card-header{
    height: 7%;
}
.finalPreview.card-block{
    padding-top: 0.5rem;
    height: 93%;
    white-space: pre;
    overflow: auto;
    font-size: 0.8rem;
}
.form-control:disabled {
    opacity: 0.3;
    background-color: #ffffff;
}
.infoBar {
    height: inherit;
    padding: 1rem 1rem 0rem 1rem;
    background: #eeeeee;
    color: #aaaaaa;
    text-align: center;
    overflow: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin is still there even though it's hidden */
}
.input-group-addon {
    width: 70%;
}
.labelNameNav {
    margin-right: 0rem;
    font-size: 1rem;
    padding-top: .425rem;
    padding-bottom: .425rem;
}
.modal-backdrop.loadingBackdrop {
    opacity: 0.5;
}
.no-border-radius {
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    border-radius: 0rem;
}
.optional-section {
    height: inherit;
}
.preview.popup {
    padding-top: 0.5rem;
    height: 70vh;
    white-space: pre;
    overflow: auto;
    font-size: 0.8rem;
}
.question {
    font-weight: bold;
    font-size: large;
}
.spacer {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
div.steps {
    overflow: auto;
}
.wizardExitButton {
    margin-left: 1rem;
}
.zero-instances {
    opacity: 0.3;
}
