#include_mission_specifics {

}

.missionSpecificsActionBar {
    text-align: center;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
}

/*
.missionSpecificsActionBar .btn {
    padding: 0.5em 1em;
}
*/

#previewContent {
    max-height: 19rem;
    overflow: auto;
}

#saveButton {
    margin-left: 1em;
}

.check-span {
    margin-left: 0.3rem;
}

.form-check.nested .form-check-label {
    margin-left: 1rem;
}

.goBack {

}

.list-group-item.goBack {
    background-color: #5d9bd5;
    color: white;
}

.list-group-item.goBack:hover {
    background-color: #428BCF;
    color: white;
}

.list-group-item.save {
    background-color: #8bce64;
    color: white;
}

.list-group-item.save:hover {
    background-color: #72C342;
    color: white;
}

.mission_specifics_form {
    display: none;
}

.previewContainer {
    height: 30%;
    padding: 0.3em;
}
