body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-login {
    max-width: 330px;
    padding: 15px 15px 10px 15px;
    margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* */
.form-signup {
    max-width: 330px;
    padding: 15px 15px 10px 15px;
    margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
    margin-bottom: 10px;
}
.form-signup .checkbox {
    font-weight: normal;
}
.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signup .form-control:focus {
    z-index: 2;
}
.form-signup #inputEmail,
.form-signup #inputPassword,
.form-signup #inputFullName {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup #inputPassword {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signup #verifyPassword,
.form-signup #inputOrganization {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.signUpWrapper {
    max-width: 330px;
    padding: 0px 15px 15px 15px;
    margin: 0 auto;
    text-align: center;
}