<?php
/*
You'd normally rename this file to configuration.php after filling out the sections below,
but the container entrypoint does that automatically at start up.
*/

const DB_USER     = "mysql_user";
const DB_PASSWORD = "mysql_password";
const DB_DATABASE = "database_name";
const DB_HOST     = "localhost";
const DB_PORT     = "3306";

?>